body{
    background-color: black;
    padding: 8% 0% 4% 1%;
}
.container{
    width: 30%;
    height: 250px;
    display: flex;
    gap: 5px;
}
.container img{
    width: 15%;
    height: 250px;
    object-fit:cover;
    border-radius: 10px;
    border: 2px solid white;
    transition: all ease-in-out 0.5s;
    cursor: pointer;
    aspect-ratio: 1/1;
}
 img:hover{
    width: 80%;
    scale: 1.1;
}